<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=your instance name;Initial Catalog=AdventureWorks2014;Integrated Security=True;Application Name=SmoTester;" providerName="System.Data.SqlClient"/>
  </connectionStrings> 
 
</configuration>
