<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ConnStr"
        connectionString="Data Source=DARKO-W10I7\MSSQLSERVER01;Initial Catalog=AdventureWorks2016;Integrated Security=True;Application Name=SmoTester;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="C_MO_PATH" value="C:\MOCONTAINTER" />
    <add key="C_MO_TEST_TABLE" value="MOTestTable" />
    <add key="C_MO_TEST_SCHEMA" value="MOHumanResources" />
    <add key="C_TEST_TABLE" value="TestTable" />
    <add key="C_TEST_SCHEMA" value="HumanResources" />
  </appSettings>

</configuration>


